.transaction-name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #4D4B57;
}

.transaction-subject {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7A7886;
}

.transaction-amount {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #7A7886;
}

.red {
    color: #FF5B37;
}

.green {
    color: #1EC15F;
}
.card-profile-round {
    border-radius: 20px;
}