* {
    box-sizing: border-box;
}

.left-section {
    background-image: url(../../../Images/bg-left.svg);
    color: #FFF;
    box-sizing: border-box;
    padding: 10% 10% 10% 15%;
}

.top-left-title {
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
}

.bottom-left-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.bottom-left-parag {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.8);
}